* {
    box-sizing: border-box;
}

.single-column-flex {
    display:flex;
    flex-direction: column;
}

.single-column-flex {
    display: flex;
    flex-direction: column;
}

.small {
    width: 200px;
}

.single-column-flex > * {
    margin: 5px;
}

.error {
    color: red;
}

:focus {
    border: dotted blue 1px;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    padding: 5px;
}